/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6e90e7, #14b884); 
  border-radius: 8px;
  border: 2px solid #e0f2f1; /* adds padding look */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #34d399, #0d9488); /* brighter on hover */
}

::-webkit-scrollbar-track {
  background: #ecfdf5; /* very light green background */
  border-radius: 8px;
}
